
body {
    background-color: darkgrey;
}

.show-card {
    width: 16rem;
    border: solid 2px whitesmoke;
}

.shows-list {
    width: 10rem;
    border-radius: 3px;
    border: solid, 2px, white;
    background-color: darkgrey;
    color: white;
}

.min-img {
    width: 10rem;
}

.lists, .basic-style {
    background-color: whitesmoke;
    border: solid 3px white;
    border-radius: 5px;
    padding: 2em;
}

.lists {
    font-size: 1.2em;
    }

.show-detail-img {
    width: 20rem;
}

#rate {
    border-radius: 15%;
    background-color: rgb(236, 210, 92);
    padding: 0.5em;
    margin: 0.5em;
}

.comment {
    background-color: rgb(235, 235, 235);
    border: solid 2px darkgrey;
    border-radius: 5px;
}

a {
   text-decoration: none;
}