{% extends 'base.html' %}
{% block title %}Collection list{% endblock %}
{% block content %}

<div class="lists">
    <a class="btn btn-outline-secondary mb-3" href="/">
        <i class="fas fa-angle-double-left"></i> Home
    </a>  
     <a class="btn btn-primary mb-3 mx-2" href="/collections/add">New</a>          
    <h1>Collections</h1>
    <hr>
    <ul>
    {% if not collections %}
        <p> No collections so far ... </p>
    {% else %}
        {% for collection in collections %}
        <li>
            <div class="row">
                <div class="col col-md-5 col-sm-6 m-2">
                <a href="/collections/{{ collection.id }}">{{ collection.name }} <i class="fas fa-angle-double-right"></i></a>
                </div>
                {% if collection.user_id == g.user.id %}
                <div class="col col-md-2 col-sm-4 m-2">
                    <form style="display:inline;" action="/user/collections/{{ collection.id }}/edit" method="POST">
                        <button type="submit" class="btn btn-sm btn-secondary text-white"><i class="fas fa-edit"></i></button>
                    </form>
                    <form style="display:inline;" action="/user/collections/{{ collection.id }}/delete" method="POST">
                        <button type="submit" class="btn btn-sm btn-danger text-white"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </div>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    {% endif %}
    </ul>
</div>

{% endblock %}