{% extends 'base.html' %}
{% block title %}Edit collection{% endblock %}
{% block content %}
<div class="basic-style">
    <h1><b>Edit Collection</b></h1>
    <p class="lead">You can make your changes to collection name and description below</p>
    <div class="row">
        <div class="col-md-6">
            <form method="POST">
                {{ form.hidden_tag() }}
                {% for field in form
                    if field.widget.input_type != 'hidden' %}
                        <div class="form-group mb-3">
                            {{ field(placeholder=field.label.text, class="form-control my-3") }}
                        </div>
                {% endfor %}
                <button  type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-secondary mx-2" href="/collections">Cancel</a>
            </form>
        </div>
    </div>    
</div>
{% endblock %}