{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block content %}
    <div class="basic-style">
        <div class="row text-center my-3">
            <div class="col">
                <h2>Not sure what show is worth to watch next on TV?</h2>
                <h4>New to TV-Club?</h4>
                <p class="lead">Register to get access to our TV-club members recommendations and collections!</p>
                <a href="/register" class="btn btn-primary">Register</a>
            </div>
        </div>
        <div class="row justify-content-md-center my-4">
            <div class="col-lg-5 col-md-8 m-3  text-center ">
                <div class="homepage-icon pt-5">
                    <i class="fas fa-search"></i> 
                    <p class="lead homepage-label p-5">
                        Find a show you are interested in
                    </p>
                </div>
            </div>
            <div class="col-lg-5 col-md-8 m-3  text-center ">
                <div class="homepage-icon pt-5">
                    <i class="fas fa-tv"></i>
                    <p class="lead homepage-label p-5">
                        Follow the links to start watching a show you like
                    </p>
                </div> 
            </div>    
        </div>
        <div class="row justify-content-md-center my-4">   
            <div class="col-lg-5 col-md-8 m-3  text-center">
                <div class="homepage-icon pt-5">
                    <i class="fas fa-list"></i>
                    <p class="lead homepage-label p-5">
                        Look through existing collections or create your own TV-shows collections
                    </p>
                </div>
            </div>
            <div class="col-lg-5 col-md-8 m-3  text-center">
                <div class="homepage-icon pt-5">
                    <i class="fas fa-bullhorn"></i>
                    <p class="lead homepage-label p-5">
                        Leave a comment about a show you recently watched and share your opinion with TV-club members
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


