{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %} 
I'm here!
    <!-- <h3 class="h3">Add User:</h3>
    <h6><i>* - mandatory fields</i></h6>
    <form action='/users/new' method="POST">
        <br>
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name: *</label>
            <input type="text" id="first_name" name="first_name" placeholder="Enter a first name" required>
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name: *</label>
            <input type="text" id="last_name" name="last_name" placeholder="Enter a last name" required>
        </div>
        <div class="mb-3">
            <label for="url" class="form-label">Image URL:  </label>
            <input type="url" id="url" name="url" placeholder="Provide an image of this user">
        </div>
        <button class="btn btn-success">Add User</button>
    </form> -->

{% endblock %}