{% extends 'base.html' %}
{% block title %}Search Results{% endblock %}
{% block content %}
<div id="show">
    <div class="row">
        <div class="col">
           <img class="show-detail-img mb-3" src={{show.img_large_url}}>
        </div>
        <div class = "col">
            <h4 class="display-4 mb-5">{{show.title}} </h4>
            <div class="row">
                <div class="col mb">
                    <p>Average Rating:<span id="rate" class="h5"><b>{{show.average_rate}}</b></span></p>
                    <p>Language:  <b>{{show.language}}</b></p>
                    <p>Premiered:  <b>{{show.premiered}}</b></p>
                    <a href="{{show.official_site}}"> Official website</a>       
                    <div class="mt-5">
                        <a class="btn btn-primary">Add to collection</a>
                        <a class="btn btn-primary mx-2">Add a review</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

